.page-header
  .pull-right
    %a.btn.btn-primary{:href => new_league_team_path(@league)} Add Team
  %h1
    = @league.name
    %small Teams

%table.table.table-striped.table-bordered
  - if @league.teams.empty?
    %tr
      %td
        %h3.text-center No Teams

  - @league.teams.sort_by {|t| t.name }.each do |team|
    %tr
      %td
        %a{:href => league_team_path(@league,team) }= team.name
