.pull-right
  %a.btn.btn-primary{:href => league_locations_path(@league)} Manage Locations
.page-header
  %h1
    Schedule
    %small
      = breadcrumb_sep
      = @league.name

= @league.games
- # league_update_schedule_path POST
